---
import Button from "../ui/Button.astro";
import nl from "../../lib/copy/nl.js";

const addLabel = `'${nl.buttons.add}'`;
const quickAddLabel = `'${nl.buttons.quickAddItem}'`;
const todayLogLabel = `'${nl.buttons.todayLog}'`;
---

<div class="mt-4 flex flex-col gap-2">
  <Button
    text={addLabel}
    click="$store.appStore.addConsumptionEntry()"
    :disabled="!canAddConsumption"
  />
  <Button text={quickAddLabel} variant="ghost" click="openQuickAdd()" />
  <Button text={todayLogLabel} variant="ghost" click="openTodayLog()" />
</div>
